.remote_needs_data {
  border: 5px palevioletred solid;
  background: whitesmoke;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  position: relative; }
  .remote_needs_data .close {
    background: palevioletred;
    border-top: 1px gainsboro solid;
    border-left: 1px gainsboro solid;
    border-bottom: 1px grey solid;
    border-right: 1px grey solid;
    color: navy;
    cursor: pointer;
    height: 16px;
    margin: 3px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 17px; }